# Dependencies
node_modules
.pnpm-store

# Next.js & Build
.next
out
build
dist

# Hardhat Artifacts
artifacts
cache
typechain
typechain-types
coverage
coverage.json

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# System Files
.DS_Store
Thumbs.db
.idea
.vscode